# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Saturday 12 April 2014 12:04:20 PM IST 
##############################################################################

#====================================================
# GENERAL
#====================================================
az.md
IGNORE/

# DATA folders
#----------------------------------------------------
**/datum
datum/
datum/**


#====================================================
# Julia build config : ver-0.6.4 onwards
#====================================================
*.buildconfig

